<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Saver</title>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <link href="css/app.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>

</head>
<body>
<div class="jumbotron text-center">
    <h1>Reddit Export Tool</h1>
    <p>Export Saved Reddit Content to Various Formats</p>
</div>

<div id='root'></div>

<!--

<div id="content">
    <div class="container">
        <div class="row" id="contentRow">
            <div class="col-sm-4" id="titleColumn">
                <h3>Title</h3>
                <p>Title Goes Here...</p>
            </div>
            <div class="col-sm-4" id="subredditColumn">
                <h3>Subreddit</h3>
                <p>Subreddit goes here...</p>
            </div>
            <div class="col-sm-4" id="linkColumn">
                <h3>Link</h3>
                <p>Link Goes here...</p>
            </div>
        </div>
    </div>
</div>

-->

<div class="container" id="content">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table" id="tab_logic">
                <thead>
                <tr>
                    <th>Subreddit</th>
                    <th>Title</th>
                    <th>Post</th>
                </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
        </div>
    </div>
</div>



<div id="buttons" class="row mx-auto">
        <div class="col-4 justify-content-start">
            <a id="logout-button" class="btn btn-default pull-left" onclick="logout()">Logout</a>
        </div>

        <div class="col-4 justify-content-center">
            <a id="export-button" class="btn btn-default" onclick="exportContent()">Export</a>
            <a id="settings-button" class="btn btn-default" onclick="downloadImages()">Download Images</a>
        </div>

        <div class="col-4 justify-content-end">
            <a id='get-comments' class="btn btn-default" onclick="getContent()">Get Comments</a>
        </div>
</div>


<script src="js/index.js">
</script>
</body>
</html>