<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit Saver</title>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <link href="css/loading.css" rel="stylesheet">

</head>


<div class="container">
    <div class="row">
        <div class="animationload">
            <div class="osahanloading"></div>
        </div>
    </div>
</div>

</html>